body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.topbar {
    height: 60px;
    background: #0099cc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#viewer {
    width: 100%;
    height: calc(100vh - 60px);
}

/*Wainuku Floorplan Button*/
#floorplanButton {
    position: absolute;
    right: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: white;
    color: Black;
}

/* info PANEL not to be confused with the collapsed button */
#infoBox {
    position: fixed;
    top: 60px;
    right: 0;
    width: 320px;
    height: calc(100vh - 60px);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: #7cb193;
    z-index: 100;
    transition: transform 0.3s ease;
}

/* info panel when collapsed, move most of the panel off screen */
#infoBox.collapsed {
    transform: translateX(320px);

}

/* info BUTTON when collapsed/expanded */
#infoToggle {
    position: absolute;
    left: -60px;
    top: 20px;
    width: 60px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    color: white;
    background: #0099cc;

    border-radius: 6px 0 0 6px;
}

/* panel contents */
#infoContent {
    padding: 25px;
}

/* POINT OF INTEREST BUTTONS */
#pointButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.pointButton {
    padding: 12px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.pointButton:hover {
    opacity: 0.8;
}