body {
    margin: 0;

    background-image:
        url("assets/ui/hellohagley.png");
        /*linear-gradient(rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)),    used to dim the bg image*/
    background-size: cover;
    background-position: center;
    font-family: "Arial", sans-serif;
    color: white;
    height: 100vh;
    font-size: 14px;
    label {font-weight: 400 !important}
}

.topbar-logo {
    width: 20px;
    height: 20px;

    object-fit: contain;

    margin-left: 0px;
    margin-right: 8px;
}
.topbar {
    background: #0066cc;
    color: white;
    
    padding: 6px 5px;

    font-size: 15px;
    display: flex;
    align-items: center;
}

.tile-row {
    display: flex;
    gap: 7px;

    margin-bottom: 20px;
}

.tile {
    width: 160px;
    height: 160px;

    padding: 10px;

    font-size: 22px;
    color: white;

    cursor: pointer;

    transition: 0.2s;
}

.blue {
    background: #1298cc;
}

.green {
    background: #00b050;
}

.tile:hover {
    transform: scale(1.03);
}

.overlay {
    padding: 40px;
}

