body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.topbar {
    height: 60px;
    background: #0099cc;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#viewer {
    width: 100%;
    height: calc(100vh - 60px);
}